* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Spartan', sans-serif;
}

.page-top {
    background-color: hsl(180, 29%, 50%);
    min-height: 100px;
}

.page-bottom {
    background-color: hsl(180, 52%, 96%);
    padding: 100px;
}

.filter-list {
    margin-bottom: 50px;
}

.job-listings-container {
    list-style-type: none;
}

.job-listing {
    background-color: white;
    min-height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px 40px 15px 0px;
    box-shadow: 1px 3px 15px  rgba(170, 198, 198, 0.568);
}

.job-listing.featured-listing {
    border-left: 4px solid rgb(16, 136, 136);
}

.job-listing__title {
    color: hsl(180, 14%, 20%);padding: 10px 0px;
}

.job-listing__company {
    display: inline-block;
    font-size: 12px;
    color: rgb(16, 136, 136);
    font-weight: 700;
    margin-right: 10px;
}

.new {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgb(16, 136, 136);
    padding: 4px 10px 2px;
    color: white;
    font-size: 10px;
}

.featured {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: hsl(180, 14%, 20%);
    padding: 4px 10px 2px;
    color: white;
    font-size: 10px;
}

.job-listing__post-time,
.job-listing__location,
.job-listing__type {
    display: inline-block;
    margin-right: 8px;
    color: hsl(180, 8%, 52%);
    font-size: 12px;
}

.dot {
    color: hsl(180, 8%, 52%);
    margin-right: 8px;
    font-weight: bold;
}

.job-listing__skills-list {
    text-align: right;
}

.job-listing__skill {
    display: inline-block;
    margin: 5px;
    padding: 7px 10px 5px;
    background-color:  hsl(180, 31%, 95%);
    border-radius: 3px;
    color: rgb(16, 136, 136);
    font-size: 12px;
    font-weight: 700;
}

.filter-bar-container {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    min-height: 50px;
    padding: 15px 20px;
    box-shadow: 1px 3px 15px  rgba(170, 198, 198, 0.568);
    border-radius: 5px;
    background-color: white;
    font-size: 12px;
}

.filters-applied {
    list-style-type: none;
    padding: 20px;
    
}

.filters-applied li {
    margin: 5px;
    display: inline-block;
    font-size: 12px;
    background-color:  hsl(180, 31%, 95%);
    border-radius: 5px;
    overflow: hidden;
}

.filter-tag {
    display: inline-block;
    border-radius: 3px;
    color: rgb(16, 136, 136);
    font-weight: 700;
    padding: 5px 10px;
}


.close-btn {
    display: inline-block;
    color: hsl(180, 31%, 95%);
    background-color: rgb(16, 136, 136);
    padding: 8px 10px 5px;
}

.clear-filter-btn {
    color: hsl(180, 8%, 52%);
}

.clear-filter-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

form input {
    display: inline-block;
}

/* .filters-applied {

    min-height: 50px;
    padding: 15px 40px 15px 0px;
    box-shadow: 1px 3px 15px  rgba(170, 198, 198, 0.568);
    border-radius: 5px;
    background-color: white;
} */


.attribution a,
.attribution {
    font-size: 10px;
    color: grey;
}

@media(min-width: 768px) {
    .job-listing {
        display: grid;
        grid-template-columns: 150px .7fr 1fr;
        align-items: center;
    }

    .job-listing__skills {
        justify-self: end;
    }

    .logo {
        justify-self: center;
    }

    .filter-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .filter-title {
        grid-column: 1 / -1;
    }
}
